{:source-paths ["src"]
 :dependencies [[com.phronemophobic/membrane "0.14.4-beta"]
                [com.phronemophobic/treemap-clj "0.2.6"]
                ]
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                ;; :compiler-options {:externs ["resources/public/js/opentype.externs.js"]
                ;;                    :infer-externs :false}
                :modules {:main {:init-fn treemap-clj.webgl/js-main}}}}}

